* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: #fffafa;
    color: #6b2c3e;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    background-color: #f6b1c3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 10;
}

.logo {
    color: white;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
}

.navbar a:hover {
    color: #6b2c3e;
}

/* HERO / BANNER */
.hero {
    height: 100vh;
    background:
        linear-gradient(rgba(246,177,195,0.75), rgba(246,177,195,0.75)),
        url("banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h2 {
    font-size: 40px;
    color: white;
}

.hero-text p {
    font-size: 18px;
    margin-top: 10px;
    color: #fff5f8;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 32px;
    background-color: #e75480;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background-color: #d64570;
    transform: scale(1.05);
}

/* SECTION */
.about, .product, .contact {
    max-width: 900px;
    margin: 70px auto;
    padding: 45px;
    background-color: #fff5f8;
    border-radius: 25px;
    text-align: center;
}

h2 {
    color: #e75480;
    margin-bottom: 15px;
}

/* PRODUCT */
.product-list {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    width: 210px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
    text-align: center;
    padding-bottom: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0;
    color: #6b2c3e;
}

/* DETAIL PRODUK */
.detail {
    max-width: 800px;
    margin: 70px auto;
    padding: 45px;
    background-color: #ffe9ef;
    border-radius: 25px;
    text-align: center;
}

.back {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 28px;
    background-color: #e75480;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}

.back:hover {
    background-color: #d64570;
    transform: scale(1.05);
}

/* CONTACT */
.contact p {
    margin-top: 8px;
}

/* FOOTER */
footer {
    background-color: #f6b1c3;
    text-align: center;
    padding: 18px;
    color: white;
    margin-top: 60px;
}